### Content :
- Warm Up Tasks
- Nested For Loops
- While Loops

[Slides](https://docs.google.com/presentation/d/161nrM3pj0hhPla25s2fS_oMmMsFS_GDbEtvU5SRr0Zs/edit?usp=sharing)

## Warm Up Tasks

✨**<span style='color:Blue'>Task**

Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.

In [1]:
#INSERT YOUR CODE

✨**<span style='color:Blue'>Task**

Create a function which takes a string, and reverses it!

💡Hint : remember how python sees strings as a list of characters? (you can use slicing on strings just like lists)

In [2]:
#INSERT YOUR

In [4]:
reverser('we are cool')

'looc era ew'

✨**<span style='color:Blue'>Task**

Write a function that will return true if its input is an integer or a floating number and false if it’s not.

In [3]:
#INSERT YOUR CODE
def type_checker():

SyntaxError: unexpected EOF while parsing (<ipython-input-3-6e151794405d>, line 2)

In [10]:
type_checker(2.3)

True

✨**<span style='color:Blue'>Task**

Write a function which when given a list of integers, finds the one that appears an odd number of times.

In [14]:
#INSERT YOUR CODE

In [16]:
odd_appearance([2,3,3,4,4,8,8])

2

In [13]:
numbers = [2,3,4,4,7,8,7]
numbers.count(2)

1

✨**<span style='color:Blue'>Task**

Create a function called `larger_sum()`that takes two list of numbers as an input : `lst1` and `lst2`

The function should return the list whose elements sum to to the greater number. if the sum of both of the lists is equal, the function should return `lst1`

In [17]:
sum(numbers)

35

In [18]:
#INSERT YOUR CODE

In [19]:
larger_sum([1,2,3,4,5], [5,6,7,8,9])

[5, 6, 7, 8, 9]

## Nested For Loops

We have two apple stores! here is our sales data for the past four days:

In [21]:
sales_data = [[1200, 2000, 1200, 2399], [1200, 800, 5600, 3200]]

We wanna access each element inside of our list. let's try:

In [22]:
for store in sales_data:
    print(store)

[1200, 2000, 1200, 2399]
[1200, 800, 5600, 3200]

How do I access the stuff inside of each store's data though??

In [24]:
for store in sales_data:
    print(store)
    for data in store:
        print(data)

[1200, 2000, 1200, 2399]
1200
2000
1200
2399
[1200, 800, 5600, 3200]
1200
800
5600
3200

***

✨**Task**

- Create a function named `exponents` that takes **two lists** as parameters named **bases** and **powers**
- The function should return a new list which has each element in base, raised to each power in **powers**

Hint : for example, `exponents([2,3,4], [1,2,3])` would return :

`[2, 4, 8, 3, 9, 27, 4, 16, 64]`

In [25]:
def exponents(bases, powers):
    result = []
    #INSERT YOUR CODE

In [26]:
exponents([2,3,4], [1,2,3])

[2, 4, 8, 3, 9, 27, 4, 16, 64]

## List Comprehensions

`grades` is the physics score of 7 students in a school :

In [27]:
grades = [90, 78, 64, 89, 66, 76, 87]

Since the highest grade is 90, we want to add 10 to each number inside of our list, **first using our previous methods, and then using list comprehensions**

- Using Previous Methods :

In [28]:
#INSERT YOUR CODE HERE

In [29]:
new_grades

[100, 88, 74, 99, 76, 86, 97]

- Using List Comprehensions:

In [30]:
#INSERT YOUR CODE HERE 
new_grades =[grade+10 for grade in grades]

In [31]:
new_grades

[100, 88, 74, 99, 76, 86, 97]

✨**Task**

We have a list of floats. Go through all of them and convert them into a `int`

(fill in the blank spaces)

In [32]:
#INSERT YOUR CODE HERE 
list_floats =[4.3, 5.6, 3.0, 9.0]

✨**Task**

Go through the letters of the string “human” with a list comprehension

(fill in the blank spaces)

In [33]:
#INSERT YOUR CODE HERE 
[print(letter) for letter in 'human']

h
u
m
a
n

[None, None, None, None, None]

✨**Task**

We have a list called `bases`. calculate their square root using a list comprehension

In [ ]:
bases = [3, 89, 45, 12, 9, 4, 25]
#INSERT YOUR CODE HERE

## While Loops

Let's print the first 10 natural numbers using while loop.

In [36]:
num = 1
while(num<11):
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

Let's write a while loop that adds all the numbers up to 100 - (100 included)

In [39]:
#INSERT YOUR CODE HERE

In [40]:
sum_1

4999950000

✨**Task**

Make a program that lists the countries in the set below using a while loop.

In [41]:
countries = ["Canada","France", "Germany", "Norway", "Sweden"]
#INSERT YOUR CODE HERE

Canada
France
Germany
Norway
Sweden

✨**Extra Task** (advanced)

Using while loop and an if statement write a function named `name_adder` which appends all the elements in a list to a new list unless the element is an empty string: "".

In [ ]:
lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]
#INSERT YOUR CODE HERE

This time inside a function named `name_adder`, write a while loop that **stops appending items** to the new list as soon as it encounters an empty string: "". And prints `"There is an empty string”` and returns the new list.

In [ ]:
#INSERT YOUR CODE HERE